* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #0004ff, #00e1ff);
    color: #ffffff;
    min-height: 100vh;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
}

form button {
    color: #0852b2;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.7s ease;
    padding: .5rem;
}

form button:hover {
    background: #0852b2;
    color: #ffffff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 38%;
    list-style: none;
}

.todo {
    margin: 0.4rem;
    background: #ffffff;
    color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .2em;
    padding: .3em;
    transition: all 1s ease;
}

.todo li {
    flex: 1;
    
}

.trash-btn,
.complete-btn,
.update-btn {
    border: none;
    padding: .5rem;
    cursor: pointer;
    margin: .1rem;
    color: #ffffff;
    border-radius: .3rem;
    transition: all 0.1ms ease;
}

.fa-trash,
.fa-check,
.fa-pen-to-square {
    pointer-events: none;
}

.trash-btn {
    background: rgb(210, 57, 116);
}

.trash-btn:hover {
    background: #ffffff;
    color: rgb(210, 57, 116);
}

.complete-btn {
    background: #0852b2;
}

.complete-btn:hover {
    color: #0852b2;
    background: #ffffff;
}

.update-btn {
    background: #6c6c6c;
}

.update-btn:hover {
    color: #6c6c6c;
    background: #ffffff;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateX(8rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color:#0852b2;
    width: 10rem;
    cursor: pointer;
    padding: .6rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: .6rem;
    pointer-events: none;
    background: #0852b2;
    transition:all 0.3s ease;
}

.select:hover::after {
    background: #ffffff;
    color: #0852b2;
}
